@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;	
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.64%;
}
.col-9{
	width: 74.97%
}
.col-10{
	width: 83.3%
}
.col-11{
	width: 91.63%
}
.col-12{
	width: 100%;
}
.p-0{
    padding: 0!important;
}
.p-1{
    padding: 8px;
}
.pt-1{
    padding-top: 8px;
}
.pb-1{
    padding-bottom: 8px;
}


.box{
	height: 293px;
	background: magenta;	
}
.box1{
	height: 500px;
	background: magenta;	
}
.box2{
	height:300px;
	background: magenta;	
}
.padding-grid{
	padding: 10px;
	box-sizing: border-box;
}